<!DOCTYPE HTML>
<html>
<head>
    <title>Recipe</title>
</head>
<body>
    <h1>A Recipe List by Sudip Das</h1>
    <form action="api/recipes" method="get">
        <button type="submit" value="Submit">View Recipe</button>
    </form>
</body>
</html>