<!DOCTYPE HTML>
<html xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <title>Recipe Board</title>
    <style type="text/css">
        div, table {
            margin: auto;
        }

        div.gameConsole {
            color: blue;
            width: 700px;
        }

        div.error {
            color: red;
        }

        div.gameover {
            color: green;
        }

        form, p, td {
            text-align: center;
        }

        table {
            padding: 10px;
        }

        td {
            padding: 15px;
        }
    </style>
</head>